@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

$dark-grayish-blue: hsl(217, 19%, 35%);
$dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Manrope", sans-serif;
  background-color: $light-grayish-blue;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 700px;
  margin: auto;
  padding: 0 2rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  .drawers {
    img {
      max-width: 300px;
      min-height: 280px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 280px;
    padding: 25px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 450px;
    h2 {
      font-size: 22px;
      color: $dark-grayish-blue;
    }

    .description {
      margin: 20px 0;
      line-height: 1.8;
      color: $dark-blue;
    }
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .avatar {
        display: flex;
        // justify-content: center;
        align-items: center;
        img {
          width: 40px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
      .share {
        cursor: pointer;
        background-color: $light-grayish-blue;
        padding: 10px;
        border-radius: 50%;
        .social {
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: 80px;
          right: -100px;
          background-color: $dark-grayish-blue;
          padding: 20px 25px;
          border-radius: 10px;
          &.hidden {
            display: none;
          }
          img {
            margin: 0 15px;
          }
          span {
            color: $grayish-blue;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 3px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .card {
    flex-direction: column;
    width: 500px;
    box-shadow: none;
    .drawers {
      img {
        max-width: 400px;
        min-height: 280px;
        display: block;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
      }
    }
    .content {
      width: 400px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}
